header {
  background-color: #ffffff;
}

.navbar {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 20px 20px 5px;
  align-content: left;
  color: #545454;
}

.nav-link:hover {
  background-color: #e8e8e8;
  border-radius: 10px;
}

#bodyContainer {
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
  color: #545454;
}

h2 {
  font-size: 26px;
  margin-top: 10px;
  color: #545454;
}

.accordion{
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #545454;
  cursor: pointer;
  padding: 18px;
  margin: 5px 20px 5px;
  overflow: hidden;
  border: none;
  text-align: left;
  font-size: 15px;
}

.active, .accordion:hover {
  background-color: #e8e8e8;
}

.panel {
  border-radius: 10px;
  padding: 18px;
  display: none;
  background-color: #e8e8e8;
  overflow: hidden;
  margin: 0px 20px 5px;
}

.footer {
  bottom: 0px;
  padding: 18px;
  margin: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  border-radius: 10px;
}

