.navbar {
  background-color: yellowgreen;
  border-radius: 10px;
  margin: 20px 20px 5px;
  align-content: left;
}

.nav-link:hover {
  background-color: springgreen;
  border-radius: 10px;
}

header {
  background-color: blueviolet;
}

h2 {
  font-size: 26px;
  margin-top: 10px;
}

.accordion {
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #545454;
  cursor: pointer;
  padding: 18px;
  margin: 5px 20px 5px;
  overflow: hidden;
  border: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #e8e8e8;
}

.panel {
  border-radius: 10px;
  padding: 18px;
  display: none;
  background-color: #e8e8e8;
  overflow: hidden;
  margin: 0px 20px 10px;
}

.footer {
  bottom: 0px;
  padding: 18px;
  margin: 20px;
  overflow: hidden;
  background-color: #464;
  border-radius: 10px;
}

#bodyContainer {
  background-color: darkorchid;
  padding: 0px;
}
