header {
  background-color: #ffffff;
}

.navbar {
  background-color: #f5f5f5;
  color: #545454;
  border-radius: 20px;
  margin: 20px;
  align-content: left;
  box-shadow: 5px 5px 5px #e0e0e0;
}

.nav-link:hover {
  background-color: #e8e8e8;
  color: #545454;
  border-radius: 20px;
}

h2 {
  color: #545454;
  font-size: 26px;
  margin-top: 10px;
}

#bodySoftware {
  padding: 0px 0px 0px 0px;
}

#bodyContainer {
  background-color: #f5f5f5;
  color: #545454;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 5px 5px 5px #e0e0e0;
}

.accordion {
  background-color: #f5f5f5;
  color: #545454;
  border-radius: 20px;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
  text-align: left;
  padding: 40px;
  box-shadow: 5px 5px 5px #e0e0e0;
  cursor: pointer;
  border: none;
}

.active, .accordion:hover {
  background-color: #e8e8e8;
  border-radius: 20px;
}

.panel {
  display: none;
  background-color: #e8e8e8;
  color: #545454;
  border-radius: 20px;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
  text-align: left;
  padding: 40px;
  box-shadow: 5px 5px 5px #e0e0e0;
}

.footer {
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #545454;
  margin: 20px;
  padding: 18px;
  box-shadow: 5px 5px 5px #e0e0e0;
}
